server {
    listen          80;
    server_name     {{ server_ip }};

    root    /usr/share/zabbix;

    index   index.php;

    location = /favicon.ico {
        log_not_found off;
    }

    location / {
        try_files $uri $uri/ =404;
    }

    location ~ \.php$ {
        include fastcgi_params;
        fastcgi_conf_set $php_fpm_sock unix:/run/php/php8.3-fpm.sock;
        fastcgi_pass $php_fpm_sock;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }
}
